{% extends 'EmployeeBase.html' %}
{% block title %}Register Students{% endblock %}
{% block content %}
            <div class="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                            <span class="badge badge-pill badge-danger">Alert!!</span>
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                
                                {% else %}
                                    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                        <span class="badge badge-pill badge-success">Alert!!</span>
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    </div> 
                   
                    <div class="col-lg-6">
                        <div class="card">
                        <div class="card-header">
                                        <strong>Bulk</strong> Create By Uploading Excel File
                                    </div>
                                    <div class="card-body card-block">
                                        <form class="form-inline" action="{% url 'bulkcreate' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-input" class=" form-control-label">File input</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file-input" name="excel_file" class="form-control-file">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Submit
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% if excel_data %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="table-responsive table--no-card m-b-30">
                                        <table class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Course ID</th>
                                                    <th>First Name</th>
                                                    <th class="text-right">Last Name</th>
                                                    <!-- <th class="text-right">quantity</th>
                                                    <th class="text-right">total</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in excel_data %}
                                                <tr>
                                                    <td>{{ row.0 }}</td>
                                                    <td>{{ row.1 }}</td>
                                                    <td>{{ row.2 }}</td>
                                                    <td >{{ row.3 }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                
                    </div>
            </div>
        </div>
        <!-- MAIN CONTENT-->
{% endblock %}
