{% extends 'EmployeeBase.html' %}
{% load static %}
{% block title %}Employee Profile{% endblock %}

{% block style %}
<style>
     
   .rateHeader {
      font-size: 25px;
      margin-right: 25px;
   }
   .fa {
      font-size: 25px;
      color: grey;
   }
   .ratedg {
      color: rgb(115, 255, 0);
      border: none;
   }
   .ratedo {
      color: rgb(255, 174, 0);
      border: none;
   }
   .data {
      float: left;
      width: 15%;
      margin-top: 10px;
      font-weight: bold;
   }
   .progressBar {
      margin-top: 10px;
      float: left;
      width: 70%;
   }
   .right {
      text-align: right;
   }
   .row:after {
      content: "";
      display: table;
      clear: both;
   }
   .progressContainer {
      width: 100%;
      background-color: #f1f1f1;
      text-align: center;
      color: white;
      border-radius: 10px;
   }
   .bar-1, .bar-2, .bar-3, .bar-4, .bar-5 {
      border-radius: 10px;
   }
   .bar-5 {
      width: {{ star_percent.0 }}%;
      height: 18px;
      background-color: rgb(76, 175, 162);
   }
   .bar-4 {
      width: {{star_percent.1}}%;
      height: 18px;
      background-color: rgb(243, 222, 33);
   }
   .bar-3 {
      width: {{star_percent.2}}%;
      height: 18px;
      background-color: #12d400;
   }
   .bar-2 {
      width: {{star_percent.3}}%;
      height: 18px;
      background-color: #ff0055;
   }
   .bar-1 {
      width: {{star_percent.4}}%;
      height: 18px;
      background-color: #a836f4;
   }
</style>
{% endblock %}

{% block content %}
<div class="main-content">


                     <div class="row">
                      <div class="col-lg-6">
                      {% if messages %}
                          {% for message in messages %}
                              {% if message.tags == 'error' %}
                                  <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                          <span class="badge badge-pill badge-danger">Alert!!</span>
                                          {{ message }}
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                  </div>
                              
                              {% else %}
                                  <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                      <span class="badge badge-pill badge-success">Alert!!</span>
                                      {{ message }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                      </div>
                    </div>



                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <strong class="card-title mb-3">Faculty Profile</strong>
                                    </div>
                                    <div class="card-body">
                                       <div class="mx-auto d-block">
                                            <img class="user mx-auto d-block" src="{{pro.photo.url}}" alt="Card image cap">
                                            <h5 class="text-sm-center mt-2 mb-1">{{pro.user.first_name}}&nbsp;{{pro.user.last_name}}</h5>
                                       </div>
                                       <hr>
                                       <div class="card-text">
                                            
                                                Designation :- {{pro.get_desg_display}}
                                            
                                       </div>
                                       <div class="card-text">
                                          
                                               Department :- {{pro.department}}
                                          
                                       </div>
                                       <div class="card-text">
                                          
                                                Phone :- {{pro.phone}}
                                          
                                       </div>


                                    </div>
                                    <div class="card-footer">
                                    
                                                <span class="rateHeader">User Rating</span>
                                                {% if avg >= 4 %}
                                                {% for i in flag %}
                                                <span class="fa fa-star ratedg"></span>
                                                {% endfor %}
                                                {% else %}
                                                {% for i in flag %}
                                                <span class="fa fa-star ratedo"></span>
                                                {% endfor %}
                                                {% endif %}
                                                <p>{{avg}} average based on {{total_stars}} feedbacks</p>
                                                <div class="row">
                                                <div class="data">
                                                <div>5 star</div>
                                                </div>
                                                <div class="progressBar">
                                                <div class="progressContainer">
                                                <input type="hidden" id="myVar" name="variable" value="{{ star_percent.0 }}">
                                                <div class="bar-5"></div>
                                                </div>
                                                </div>
                                                <div class="data right">
                                                <div>{{count_stars.0}}</div>
                                                </div>
                                                <div class="data">
                                                <div>4 star</div>
                                                </div>
                                                <div class="progressBar">
                                                <div class="progressContainer">
                                                <div class="bar-4"></div>
                                                </div>
                                                </div>
                                                <div class="data right">
                                                <div>{{count_stars.1}}</div>
                                                </div>
                                                <div class="data">
                                                <div>3 star</div>
                                                </div>
                                                <div class="progressBar">
                                                <div class="progressContainer">
                                                <div class="bar-3"></div>
                                                </div>
                                                </div>
                                                <div class="data right">
                                                <div>{{count_stars.2}}</div>
                                                </div>
                                                <div class="data">
                                                <div>2 star</div>
                                                </div>
                                                <div class="progressBar">
                                                <div class="progressContainer">
                                                <div class="bar-2"></div>
                                                </div>
                                                </div>
                                                <div class="data right">
                                                <div>{{count_stars.3}}</div>
                                                </div>
                                                <div class="data">
                                                <div>1 star</div>
                                                </div>
                                                <div class="progressBar">
                                                <div class="progressContainer">
                                                <div class="bar-1"></div>
                                                </div>
                                                </div>
                                                <div class="data right">
                                                <div>{{count_stars.4}}</div>
                                                </div>
                                                </div>
                                    
                                    </div>
                                </div>
                            </div>

</div>
{% endblock %}
