{% extends 'EmployeeBase.html' %}
{% block title %}Employee Dashboard{% endblock %}
{% block content %}
<div class="main-content">


                    <div class="row">
                      <div class="col-lg-6">
                      {% if messages %}
                          {% for message in messages %}
                              {% if message.tags == 'error' %}
                                  <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                          <span class="badge badge-pill badge-danger">Alert!!</span>
                                          {{ message }}
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                  </div>
                              
                              {% else %}
                                  <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                      <span class="badge badge-pill badge-success">Alert!!</span>
                                      {{ message }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                      </div>
                    </div>

                    <div class="section__content section__content--p30">
                        <div class="container-fluid">


                            <div class="row">
                                <div class = "col-lg-2">
                                    <span></span>
                                </div>
                                <div class="col-lg-9">
                                    <!-- DATA TABLE -->
                                    <h3 class="title-5 m-b-35">All Training Programs</h3>
                                    <div class="table-data__tool">
                                        <div class="table-data__tool-left">
                                            {% comment %} <div class="rs-select2--light rs-select2--md">
                                                <select class="js-select2" name="property">
                                                    <option selected="selected">All Properties</option>
                                                    <option value="">Option 1</option>
                                                    <option value="">Option 2</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div> {% endcomment %}
                                            <!-- <div class="rs-select2--light rs-select2--sm">
                                                <select class="js-select2" name="time">
                                                    <option selected="selected">Today</option>
                                                    <option value="">3 Days</option>
                                                    <option value="">1 Week</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div> -->
                                            <!-- <button class="au-btn-filter">
                                                <i class="zmdi zmdi-filter-list"></i>filters</button> -->
                                        </div>
                                        <!-- <div class="table-data__tool-right">
                                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                                <i class="zmdi zmdi-plus"></i>add item</button>
                                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                                <select class="js-select2" name="type">
                                                    <option selected="selected">Export</option>
                                                    <option value="">Option 1</option>
                                                    <option value="">Option 2</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="table-responsive table-responsive-data2">
                                        <table class="table table-data2">
                                            <thead>
                                                <tr>
                                                    <!-- <th>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </th> -->
                                                    <th>Course_id</th>
                                                    <th>Subject</th>
                                                    <th>Start_date</th>
                                                    <th>Time</th>
                                                    <th>Faculty</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for course in courses %}
                                                <tr class="tr-shadow">
                                                    <!-- <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td> -->
                                                    <td><a class="btn btn-outline-primary btn-lg btn-block btn-sm" href="{% url 'view-consolidated' pk=course.course_id %}" role='button'>{{course.course_id}}</a></td>
                                                    <td>
                                                        <!-- <span class="block-email">lori@example.com</span> -->
                                                        <strong>{{course.subject}}</strong>
                                                    </td>
                                                    <td class="desc">{{course.start_date}}</td>
                                                    <td>{{course.start_time}}</td>
                                                    <td>
                                                        <!-- <span class="status--process">Processed</span> -->
                                                        {{course.faculty.user.username}}
                                                    </td>
                                                    
                                                    <!-- <td>
                                                        <div class="table-data-feature">
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                                <i class="zmdi zmdi-mail-send"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <i class="zmdi zmdi-edit"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td> -->
                                                </tr>
                                                <tr class="spacer"></tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- END DATA TABLE -->
                                </div>


                            <!-- <div class="container-fluid">
                                <div class = "row">
                                    <div class="col-lg-6">
                                        <div class="au-card m-b-30">
                                            <div class="au-card-inner">
                                                <h3 class="title-2 m-b-40">Overall Training Feedback Score</h3>
                                                <canvas id="lineC"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="au-card m-b-30">
                                            <div class="au-card-inner">
                                                <h3 class="title-2 m-b-40">Amenities Feedback Score</h3>
                                                <canvas id="doughutC"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
            
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        

</div>
{% endblock %}
{% block script %}
<script>
try {

//line chart
var ctx = document.getElementById("lineC");
if (ctx) {
  ctx.height = 150;
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      defaultFontFamily: "Poppins",
      datasets: [
        {
          label: "Average Score Long Term",
          borderColor: "rgba(100,0,0,0.9)",
          borderWidth: "1",
          backgroundColor: "rgba(100,0,0,.25)",
          pointHighlightStroke: "rgba(26,179,148,1)",
          data: [22, 44, 67, 43, 76, 45, 12]
        },
        {
          label: "Average Score Short Term",
          borderColor: "rgba(0, 123, 255, 0.9)",
          borderWidth: "1",
          backgroundColor: "rgba(0, 123, 255, 0.5)",
          pointHighlightStroke: "rgba(26,179,148,1)",
          data: [16, 32, 18, 26, 42, 33, 44]
        }
      ]
    },
    options: {
      legend: {
        position: 'top',
        labels: {
          fontFamily: 'Poppins'
        }

      },
      responsive: true,
      tooltips: {
        mode: 'index',
        intersect: false
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          ticks: {
            fontFamily: "Poppins"

          }
        }],
        yAxes: [{
          ticks: {
            beginAtZero: true,
            fontFamily: "Poppins"
          }
        }]
      }

    }
  });
}


} catch (error) {
console.log(error);
}


try {

//doughut chart
var ctx = document.getElementById("doughutC");
if (ctx) {
  ctx.height = 150;
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: [45, 25, 20, 10],
        backgroundColor: [
          "rgba(0, 123, 255,0.9)",
          "rgba(0, 123, 255,0.7)",
          "rgba(0, 123, 255,0.5)",
          "rgba(0,0,0,0.07)"
        ],
        hoverBackgroundColor: [
          "rgba(0, 123, 255,0.9)",
          "rgba(0, 123, 255,0.7)",
          "rgba(0, 123, 255,0.5)",
          "rgba(0,0,0,0.07)"
        ]

      }],
      labels: [
          "Excellent",
          "Good",
          "Satifactory",
          "Poor"
        ]
    },
    options: {
      legend: {
        position: 'top',
        labels: {
          fontFamily: 'Poppins'
        }

      },
      responsive: true
    }
  });
}


} catch (error) {
console.log(error);
}
</script>
{% endblock %}
