{% extends 'TraineeBase.html' %}
{% block title %}Give Feedback{% endblock %}
{% block style %}
{% endblock %}

{% block content %}

            <div class="main-content">
                <div class="row">
                    <div class="col-lg-6">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                        <span class="badge badge-pill badge-danger">Alert!!</span>
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                            
                            {% else %}
                                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                    <span class="badge badge-pill badge-success">Alert!!</span>
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div> 
                <div class="section__content section__content--p30">
                    <div class="container-fluid">    
                        <div class="card">
                            <div class="card-header">
                                <strong>Learning Service Validation</strong>
                                :- Please provide your Valuable Feedback
                            </div>
                            <div class="card-body card-block">
                                <form action="{% url 'submitfeedback' pk %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    {% csrf_token %}
                                    {% for element in form %}
                                    {% if element.label == 'Comments' %}
                                    <div class="row form-group">
                                        <div class="col-12 col-md-9">
                                            <label for="{{ element.id_for_label }}" class=" form-control-label">{{ element.label }}</label>
                                        </div>
                                        <div class="col-lg-6">
                                            {{element}}
                                        </div>
                                        
                                    </div>
                                    <hr>
                                    {% elif not element.is_hidden and element.label != 'Course id' and element.label != 'How do you rate Safety?' and element.label != 'How do you rate Training Admin Response?' and element.label != 'How do you rate Cafeteria?' and element.label != 'How do you rate Sanitation?' and element.label != 'Whether Course Duration is' and element.label != 'Course To Be recommended' %}
                                    <div class="row form-group">
                                        <div class="col-lg-6">
                                            <label for="{{ element.id_for_label }}" class=" form-control-label"><strong>{{ element.label }}</strong></label>
                                        </div>
                                        <div class="col-lg-6">
                                            {{ element }}
                                        </div>
                                        <!-- <div class="col-12 col-md-9">
                                            &nbsp;
                                        </div>  -->
                                        <div class="col-12 col-md-9">
                                            <p class="text-right">2-4 Poor&nbsp;&nbsp;|&nbsp;&nbsp;5-6 Average&nbsp;&nbsp;|&nbsp;&nbsp;7-8 Good&nbsp;&nbsp;|&nbsp;&nbsp;9-10 Excellent</p>
                                        </div> 
                                    </div>
                                    <br>
                                    <hr>
                                    {% elif element.label == 'How do you rate Safety?' or element.label == 'How do you rate Training Admin Response?' or element.label == 'How do you rate Cafeteria?' or element.label == 'How do you rate Sanitation?' or element.label == 'Whether Course Duration is' or element.label == 'Course To Be recommended' %}
                                    <div class="row form-group">
                                        <div class="col-lg-6">
                                            <label for="{{ element.id_for_label }}" class=" form-control-label"><strong>{{ element.label }}</strong></label>
                                        </div>
                                        <!-- <div class="col-12 col-md-9">
                                            &nbsp;
                                        </div> -->
                                        <div class="col-lg-6">
                                            {{ element }}
                                        </div>
                                        <div class="col-12 col-md-9">
                                            &nbsp;
                                        </div> 
                                    </div>
                                    <br>
                                    <hr>
                                    {% elif element.label == 'Course id' %}
                                    <div class="row form-group">
                                        <div class="col-12 col-md-9">
                                            <label for="{{ element.id_for_label }}" class=" form-control-label"><strong>{{ element.label }}</strong></label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            {{ element }}
                                        </div>
                                        
                                    </div>
                                    <hr>
                                    {% else %}
                                    <div class="row form-group">
                                        <div class="col-12 col-md-9">
                                            <label for="{{ element.id_for_label }}" class=" form-control-label">{{ element.label }}</label>
                                            :-&nbsp;{{element}}<strong>{{name}}</strong>
                                        </div> 
                                    </div>
                                    <hr>
                                    {% endif %}
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
            $(function() {
                $('#id_A1').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A2').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A3').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A4').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A5').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A6').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A7').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A8').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A9').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A10').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A11').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A12').barrating({
                theme: 'bars-square',
                showValues: true,
                showSelectedRating: false,
                initialRating:false
                });
            });
            $(function() {
                $('#id_A13').barrating({
                theme: 'bars-movie',
                showValues: false,
                showSelectedRating: true,
                });
            });
            $(function() {
                $('#id_A14').barrating({
                theme: 'bars-movie',
                showValues: false,
                showSelectedRating: true,
                });
            });
            $(function() {
                $('#id_A15').barrating({
                theme: 'bars-movie',
                showValues: false,
                showSelectedRating: true,
                });
            });
            $(function() {
                $('#id_A16').barrating({
                theme: 'bars-movie',
                showValues: false,
                showSelectedRating: true,
                });
            });
</script>
{% endblock %}