{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 825px; height: 825px; border-color: black; margin-left: auto; margin-right: auto;" border="2">
        <tbody>
            <tr style="height: 81px;">
                <th style="width: 175px; height: 80px;">
                <img src="{% static 'img/logo.jpg' %}" style="width: 80px; height: 80px;">
                </th>
                <th style="width: 350x; height: 80px;" colspan="10">
                    <h1>Central Tool Room and Training Center</h1>
                    <h2>Infocity Square, Patia, Bhubaneswar</h2>
                </th>
                <th style="width: 175px; height: 80px;">
                    <img src="{% static 'img/logomsme.jpg' %}" style="width: 100px; height: 80px;">
                </th>
            </tr>
            <tr style="height: 23px;">
                <td style="text-align: center; vertical-align: middle; width: 701px; height: 23px;" colspan="12"><b>Learning Service Validation Report</b></td>
            </tr>
            <tr style="height: 24px;">
                <td style="width: 241.469px; height: 24px;" colspan="2">Name of course:_____________</td>
                <td style="width: 245.375px; height: 24px;" colspan="6">Timing:___________</td>
                <td style="width: 214.156px; height: 24px;" colspan="4">Venue: Lab-25</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 701px; height: 23px;" colspan="12">Name of Faculty/Faculties: ____________________</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 296.75px; height: 23px;" colspan="3">Course Duration&nbsp;</td>
                <td style="width: 108.797px; height: 23px;" colspan="3">From :____ To:_______</td>
                <td style="width: 295.453px; height: 23px;" colspan="6">No. of Trainees: ___</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 701px; height: 23px; text-align: center; vertical-align: middle;" colspan="12">General</td>
            </tr>
            <tr style="height: 23px; text-align: center;">
                <td style="width: 103.75px; height: 46px;" rowspan="2">Sl No</td>
                <td style="width: 145px; height: 46px;" rowspan="2">Evalutation Metric</td>
                <td style="width: 86.8281px; height: 23px; text-align: center;" colspan="2">Average</td>
                <td style="width: 77.25px; height: 23px;" colspan="2">Good</td>
                <td style="width: 81.2969px; height: 23px;" colspan="2">Very Good</td>
                <td style="width: 77.4219px; height: 23px;" colspan="2">Excellent</td>
                <td style="width: 31.5469px; height: 46px;" rowspan="2">Sub Total</td>
                <td style="width: 105.188px; height: 46px;" rowspan="2">Avg Score</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 55px; height: 23px;">2-4</td>
                <td style="width: 31.5469px; height: 23px;">Total</td>
                <td style="width: 55px; height: 23px;">5-6</td>
                <td style="width: 31.6562px; height: 23px;">Total</td>
                <td style="width: 55px; height: 23px;">7-8</td>
                <td style="width: 31.625px; height: 23px;">Total</td>
                <td style="width: 55px; height: 23px;">9-10</td>
                <td style="width: 31.7031px; height: 23px;">Total</td>
            </tr>
            {% for question,answers in Fac_qna.items %}
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 23px; text-align: center;">{{ forloop.counter }}</td>
                <td style="width: 500px; height: 23px;">{{question}}</td>
                <td style="width: 55.2812px; height: 23px; text-align: center;">{{ answers.0 }}</td>
                <td style="width: 31.5469px; height: 23px; text-align: center;">&nbsp;</td>
                <td style="width: 45.5938px; height: 23px; text-align: center;">{{ answers.1 }}</td>
                <td style="width: 31.6562px; height: 23px; text-align: center;">&nbsp;</td>
                <td style="width: 49.6719px; height: 23px; text-align: center;">{{ answers.2 }}</td>
                <td style="width: 31.625px; height: 23px; text-align: center;">&nbsp;</td>
                <td style="width: 45.7188px; height: 23px; text-align: center;">{{ answers.3 }}</td>
                <td style="width: 31.7031px; height: 23px; text-align: center;">&nbsp;</td>
                <td style="width: 31.5469px; height: 23px; text-align: center;">&nbsp;</td>
                <td style="width: 105.188px; height: 23px; text-align: center;">&nbsp;</td>
            </tr>
            {% endfor %}
            <tr style="height: 23px;">
                <td style="width: 564.266px; height: 23px;" colspan="10">Total Faculty Score:</td>
                <td style="width: 136.734px; height: 23px;" colspan="2">_______</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 23px; text-align: center;">12</td>
                <td style="width: 450px; height: 23px;">{{q12}}</td>
                <td style="width: 55.2812px; height: 23px; text-align: center;">{{feedback.11.0}}</td>
                <td style="width: 31.5469px; height: 23px;">&nbsp;</td>
                <td style="width: 45.5938px; height: 23px;">&nbsp;</td>
                <td style="width: 31.6562px; height: 23px;">&nbsp;</td>
                <td style="width: 49.6719px; height: 23px;">&nbsp;</td>
                <td style="width: 31.625px; height: 23px;">&nbsp;</td>
                <td style="width: 45.7188px; height: 23px;">&nbsp;</td>
                <td style="width: 31.7031px; height: 23px;">&nbsp;</td>
                <td style="width: 31.5469px; height: 23px;">&nbsp;</td>
                <td style="width: 105.188px; height: 23px;">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 241.469px; height: 23px;" colspan="2">&nbsp;</td>
                <td style="width: 459.531px; height: 23px;" colspan="10">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 241.469px; height: 23px;" colspan="2">&nbsp;</td>
                <td style="width: 459.531px; height: 23px;" colspan="10">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 701px; height: 23px; text-align: center; vertical-align: middle;" colspan="12">Ameneties</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 23px; text-align: center; vertical-align: middle;">Sl no</td>
                <td style="width: 137.719px; height: 23px; text-align: center; vertical-align: middle;">Amenety</td>
                <td style="width: 86.8281px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">Poor</td>
                <td style="width: 126.922px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">Satisfactory</td>
                <td style="width: 77.3438px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">Good</td>
                <td style="width: 168.438px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">Very Good</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 23px; text-align: center; vertical-align: middle;">&nbsp;</td>
                <td style="width: 137.719px; height: 23px; text-align: center; vertical-align: middle;">&nbsp;</td>
                <td style="width: 86.8281px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">&nbsp;</td>
                <td style="width: 126.922px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
                <td style="width: 77.3438px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">&nbsp;</td>
                <td style="width: 168.438px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 23px; text-align: center; vertical-align: middle;">&nbsp;</td>
                <td style="width: 137.719px; height: 23px; text-align: center; vertical-align: middle;">&nbsp;</td>
                <td style="width: 86.8281px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">&nbsp;</td>
                <td style="width: 126.922px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
                <td style="width: 77.3438px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">&nbsp;</td>
                <td style="width: 168.438px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 23px; text-align: center; vertical-align: middle;">&nbsp;</td>
                <td style="width: 137.719px; height: 23px; text-align: center; vertical-align: middle;">&nbsp;</td>
                <td style="width: 86.8281px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">&nbsp;</td>
                <td style="width: 126.922px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
                <td style="width: 77.3438px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">&nbsp;</td>
                <td style="width: 168.438px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 23px; text-align: center; vertical-align: middle;">&nbsp;</td>
                <td style="width: 137.719px; height: 23px; text-align: center; vertical-align: middle;">&nbsp;</td>
                <td style="width: 86.8281px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">&nbsp;</td>
                <td style="width: 126.922px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
                <td style="width: 77.3438px; height: 23px; text-align: center; vertical-align: middle;" colspan="2">&nbsp;</td>
                <td style="width: 168.438px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 701px; height: 23px; text-align: center; vertical-align: middle;" colspan="12">Others</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 46px; text-align: center; vertical-align: middle;" rowspan="2">1.</td>
                <td style="width: 137.719px; height: 46px; text-align: center; vertical-align: middle;" rowspan="2">Whether Course Duration is</td>
                <td style="width: 132.422px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
                <td style="width: 158.672px; height: 23px; text-align: center; vertical-align: middle;" colspan="4">&nbsp;</td>
                <td style="width: 168.438px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 132.422px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
                <td style="width: 158.672px; height: 23px; text-align: center; vertical-align: middle;" colspan="4">&nbsp;</td>
                <td style="width: 168.438px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 103.75px; height: 33px; text-align: center; vertical-align: middle;" rowspan="2">2.</td>
                <td style="width: 137.719px; height: 33px; text-align: center; vertical-align: middle;" rowspan="2">Course To be recommended</td>
                <td style="width: 132.422px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
                <td style="width: 158.672px; height: 23px; text-align: center; vertical-align: middle;" colspan="4">&nbsp;</td>
                <td style="width: 168.438px; height: 23px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
            </tr>
            <tr style="height: 10px;">
                <td style="width: 132.422px; height: 10px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
                <td style="width: 158.672px; height: 10px; text-align: center; vertical-align: middle;" colspan="4">&nbsp;</td>
                <td style="width: 168.438px; height: 10px; text-align: center; vertical-align: middle;" colspan="3">&nbsp;</td>
            </tr>
            <tr style="height: 10px;">
                <td style="width: 405.547px; height: 10px; text-align: center; vertical-align: middle;" colspan="6">Rating of Faculty</td>
                <td style="width: 295.453px; height: 10px; text-align: center; vertical-align: middle;" colspan="6">&nbsp;</td>
            </tr>
            <tr style="height: 10px;">
                <td style="width: 405.547px; height: 10px; text-align: center; vertical-align: middle;" colspan="6">Rating of Fecilitation Center</td>
                <td style="width: 295.453px; height: 10px; text-align: center; vertical-align: middle;" colspan="6">&nbsp;</td>
            </tr>
            <tr style="height: 10px;">
                <td style="width: 405.547px; height: 10px; text-align: center; vertical-align: middle;" colspan="6">Overall Ratings</td>
                <td style="width: 295.453px; height: 10px; text-align: center; vertical-align: middle;" colspan="6">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</body>
</html>