{% extends 'TraineeBase.html' %}
{% block title %}Give Feedback{% endblock %}
{% block style %}
<style>
.btn-scale {
    min-width: 44px;
    width: 6%;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: 'Lato', sans-serif;
  }
  
  .btn-scale-asc-1, .btn-scale-desc-10 {
    background-color: #33FF00;
  }
  
  .btn-scale-asc-1:hover,
  .btn-scale-desc-10:hover {
    background-color: #2CDE00;
  }
  
  .btn-scale-asc-2,
  .btn-scale-desc-9{
    background-color: #66FF00;
  }
  
  .btn-scale-asc-2:hover,
  .btn-scale-desc-9:hover{
    background-color: #59DE00;
  }
  
  .btn-scale-asc-3,
  .btn-scale-desc-8 {
    background-color: #99FF00;
  }
  
  .btn-scale-asc-3:hover,
  .btn-scale-desc-8:hover {
    background-color: #85DE00;
  }
  
  .btn-scale-asc-4,
  .btn-scale-desc-7 {
    background-color: #CCFF00;
  }
  
  .btn-scale-asc-4:hover,
  .btn-scale-desc-7:hover {
    background-color: #B1DE00;
  }
  
  .btn-scale-asc-5,
  .btn-scale-desc-6 {
    background-color: #FFFF00;
  }
  
  .btn-scale-asc-5:hover,
  .btn-scale-desc-6:hover {
    background-color: #DEDE00;
  }
  
  .btn-scale-asc-6,
  .btn-scale-desc-5 {
    background-color: #FFCC00;
  }
  
  .btn-scale-asc-6:hover,
  .btn-scale-desc-5:hover {
    background-color: #DEB100;
  }
  
  .btn-scale-asc-7,
  .btn-scale-desc-4 {
    background-color: #FF9900;
  }
  
  .btn-scale-asc-7:hover,
  .btn-scale-desc-4:hover {
    background-color: #DE8500;
  }
  
  .btn-scale-asc-8,
  .btn-scale-desc-3 {
    background-color: #FF6600;
  }
  
  .btn-scale-asc-8:hover,
  .btn-scale-desc-3:hover {
    background-color: #DE5900;
  }
  
  .btn-scale-asc-9,
  .btn-scale-desc-2 {
    background-color: #FF3300;
  }
  
  .btn-scale-asc-9:hover,
  .btn-scale-desc-2:hover {
    background-color: #DE2C00;
  }
  
  .btn-scale-asc-10,
  .btn-scale-desc-1 {
    background-color: #FF0000;
  }
  
  .btn-scale-asc-10:hover,
  .btn-scale-desc-1:hover {
    background-color: #DE0000;
  }


</style>
{% endblock %}

{% block content %}

            <div class="main-content">
                <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                            <p class="page-header">1 is good, 10 is bad (i.e., "How much pain are you in right now?")</p>
                            <div class="chart-scale">
                                <button class="btn btn-scale btn-scale-asc-1">1</button>
                                <button class="btn btn-scale btn-scale-asc-2">2</button>
                                <button class="btn btn-scale btn-scale-asc-3">3</button>
                                <button class="btn btn-scale btn-scale-asc-4">4</button>
                                <button class="btn btn-scale btn-scale-asc-5">5</button>
                                <button class="btn btn-scale btn-scale-asc-6">6</button>
                                <button class="btn btn-scale btn-scale-asc-7">7</button>
                                <button class="btn btn-scale btn-scale-asc-8">8</button>
                                <button class="btn btn-scale btn-scale-asc-9">9</button>
                                <button class="btn btn-scale btn-scale-asc-10">10</button>
                                <hr/>
                            </div>
                            <p class="page-header">1 is bad, 10 is good (i.e., "How happy are you feeling today?")</p>
                            <div class="chart-scale">
                                <button class="btn btn-scale btn-scale-desc-1">1</button>
                                <button class="btn btn-scale btn-scale-desc-2">2</button>
                                <button class="btn btn-scale btn-scale-desc-3">3</button>
                                <button class="btn btn-scale btn-scale-desc-4">4</button>
                                <button class="btn btn-scale btn-scale-desc-5">5</button>
                                <button class="btn btn-scale btn-scale-desc-6">6</button>
                                <button class="btn btn-scale btn-scale-desc-7">7</button>
                                <button class="btn btn-scale btn-scale-desc-8">8</button>
                                <button class="btn btn-scale btn-scale-desc-9">9</button>
                                <button class="btn btn-scale btn-scale-desc-10">10</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                        <span class="badge badge-pill badge-danger">Alert!!</span>
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                            
                            {% else %}
                                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                    <span class="badge badge-pill badge-success">Alert!!</span>
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div> 
                <div class="section__content section__content--p30">
                    <div class="container-fluid">    
                        <div class="card">
                            <div class="card-header">
                                <strong>Learning Service Validation</strong>
                                :- Please provide your Valuable Feedback
                            </div>
                            <div class="card-body card-block">
                                <form action="{% url 'submitfeedback' pk %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    {% csrf_token %}
                                    {% for element in form %}
                                    {% if element.label == 'Comments' %}
                                    <div class="row form-group">
                                        <div class="col-12 col-md-9">
                                            <label for="{{ element.id_for_label }}" class=" form-control-label">{{ element.label }}</label>
                                        </div>
                                        <div class="col-lg-6">
                                            {{element}}
                                        </div>
                                    </div>
                                    <hr>
                                    {% elif not element.is_hidden %}
                                    <div class="row form-group">
                                        <div class="col-12 col-md-9">
                                            <label for="{{ element.id_for_label }}" class=" form-control-label">{{ element.label }}</label>
                                        </div>
                                        <div class="col col-md-3">
                                            {{ element }}
                                        </div>
                                    </div>
                                    <hr>
                                    {% else %}
                                    <div class="row form-group">
                                        <div class="col-12 col-md-9">
                                            <label for="{{ element.id_for_label }}" class=" form-control-label">{{ element.label }}</label>
                                        </div>
                                        <div class="col col-md-3">
                                            {{element}}{{name}}
                                        </div>
                                    </div>
                                    <hr>
                                    {% endif %}
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}