{% extends 'TraineeBase.html' %}
{% block title %}Give Feedback{% endblock %}
{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <!-- <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <strong>Enter Course Id to Submit Feedback</strong>
                </div>
                <div class="card-body card-block">
                    <form action="{% url 'trainee-home' %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="course" class="pr-1  form-control-label">Course Id</label>
                            <input type="text" id="course" placeholder="Enter Course Id" name='pk' required="" class="form-control">
                        
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class = "col-lg-2">
                <span></span>
            </div>
            <div class="col-lg-9">
                <!-- DATA TABLE -->
                <h3 class="title-5 m-b-35">All Training Programs</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <!-- <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div> -->
                        <!-- <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters</button> -->
                    </div>
                    <!-- <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add item</button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div> -->
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <!-- <th>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </th> -->
                                <th>Course_id</th>
                                <th>Subject</th>
                                <th>Start_date</th>
                                <th>Time</th>
                                <th>venue</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            <tr class="tr-shadow">
                                <!-- <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td> -->
                                <td>{{course.course.course_id}}</td>
                                <td>
                                    <!-- <span class="block-email">lori@example.com</span> -->
                                    {{course.course.subject}}
                                </td>
                                <td class="desc">{{course.course.start_date}}</td>
                                <td>{{course.course.start_time}}</td>
                                <td>
                                    <!-- <span class="status--process">Processed</span> -->
                                    {{course.course.venue}}
                                </td>
                                
                                <!-- <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                            <i class="zmdi zmdi-mail-send"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                    </div>
                                </td> -->
                            </tr>
                            <tr class="spacer"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
            <div class = "col-lg-2">
                <span></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

